/client/node_modules
/client/.next
/client/.env*
/server/Dockerfile
/server/.dockerignore
/server/node_modules
/server/dist
/server/uploads
node_modules
README.md
.git
.dockerignore
DockerfileFrontend
docker-compose.yml
.gitignore
.husky
