.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc( 44px/ 44* 27);
  height: 44px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;

  &::after {
    content: '';
    display: block;
    border-top: 3px solid black;
    border-right: 3px solid black;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
}

.swiper-button-prev{
  &::after {
    transform: rotate(225deg);
  }
}

.swiper-button-next  {
  &::after {
    transform: rotate(45deg);
  }
}


.swiper-button-disabled  {
  opacity: 0.3;
  pointer-events: none;
  cursor: auto;
}